* {
    margin: 0;
    padding: 0;
}
body{
	background-color: black;
}

.centreImage{
    max-width: 100%;
    max-height: 100%;
    bottom: 0;
    left: 0;
    margin: auto;
    overflow: auto;
    position: fixed;
    right: 0;
    top: 0;
	z-index: 10;
}

.caption{
    height: 5%;
	width: 50%;
    margin: auto;
    position: fixed;
	overflow: auto;
    right: 0;
    top: 90%;
	bottom: 0;
    left: 0;
	background-color: white;
	opacity: 0.6;
    filter: alpha(opacity=60); /* For IE8 and earlier */
	z-index: 20;
	padding: 10px; border: 1px solid #FFF; color: #FFF;
	-moz-border-radius: 15px;
	border-radius: 15px;

	color: black;
	font-family: "Avenir Next",Avenir,"Segoe UI",Roboto,"Helvetica Neue",Helvetica,sans-serif;
	font-size: 2em;
	text-align: center;
}

img {
  position:absolute;
  left:0;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
  opacity:0;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}

img.opaque {
  opacity:1;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=1);
}