* {
    margin: 0;
    padding: 0;
}
body{
	background-color: rgba(22,60,73,10);
	font-family: "Avenir Next",Avenir,"Segoe UI",Roboto,"Helvetica Neue",Helvetica,sans-serif;
}

a {text-decoration:none; font-size: 1em; color:#1e90ff; font-weight:bold;font-family: "Avenir Next",Avenir,"Segoe UI",Roboto,"Helvetica Neue",Helvetica,sans-serif;}      /* unvisited link */
a:hover {color:#fff;}  /* mouse over link */

.bg {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: 50% 0;
    -webkit-filter: blur(1px);
    -moz-filter: blur(1px);
    filter: blur(1px);
    filter: alpha(Opacity=40);
    opacity: .4;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.textcontainer{
	margin-top:2%;
	margin-left: 7% ;
	margin-right: 7% ;
	margin-bottom:2%;
	width: 86%
}
.mainbody{

}

.mainimage{
	float:left;
	margin-top:2%;
	margin-left: 2% ;
	margin-right: 5% ;
	margin-bottom: 2%;
	width:22%;
}

@media screen and (max-width: 751px) {
	.mainimage{
		width:100%;
	}
}

@media screen and (max-width: 1100px) and (min-width: 750px) {
	.mainimage{
		width:50%;
	}
}

.samples img{
	width:100%;
	height:auto;
		background-color:#33bdef;
	-moz-border-radius:9px;
	-webkit-border-radius:9px;
	border-radius:9px;
	border:4px solid #057fd0;
}

@media screen and (max-width: 1100px) and (min-width: 650px) {
	.samples img{
		margin-top:10%;
		width:60%;
		margin-left:20%;
		margin-right:20%;
	}
}

@media screen and (max-width: 650px) {
	.samples img{
		margin-top:10%;
	}
}


.mainimage img{
	width:100%;
	height:auto;
}

.maintext{
	margin-top:2%;
	margin-left: 30% ;
	margin-right: 10%;
	margin-bottom:2%;
}

@media screen and (max-width: 1100px) {
	.maintext{
		margin-left: 5% ;
		margin-right: 5%;
	}
}


.timetobuy{

position: relative;
text-align: center;
clear:both;
	margin-top:2%;
	margin-left: auto ;
	margin-right: auto;
	margin-bottom:2%;
}

@media screen and (max-width: 751px) {
	.timetobuy{
		width: 100%;
			margin-left: auto ;
	margin-right: auto;
	}
}

@media screen and (min-width: 750px) and (max-width:1100px) {
	.timetobuy{
		width: 310px;
			margin-left: auto ;
	margin-right: auto;
	}
}

.leftpoints{
	float: left;
	margin-left: 3% ;
	margin-right: 5%;
	margin-bottom:2%;
	width: 40%;
}

@media screen and (max-width: 751px) {
	.leftpoints{
		margin-right: 3%;
		width:100%;
	}
}

.bottomleftpoints{
	float: left;
	margin-left: 10% ;
	margin-right: 5%;
	margin-bottom:2%;
	width: 30%;
}

@media screen and (max-width: 1100px) {
	.bottomleftpoints{
		margin-left: 0%;
		margin-right: 3%;
		width:97%;
	}
}

.samples{
	
	margin-top:2%;
	margin-left: 50% ;
	margin-right: 5% ;
	margin-bottom: 2%;
	width:30%;
}

@media screen and (max-width: 1100px) {
	.samples{
		margin-left: 5%;
		margin-right: 5%;
		width:90%;
	}
}

.bottomtext{
	width: 80%;
	text-align: center;
	margin-top:0%;
	margin-left: 10% ;
	margin-right: 10%;
	margin-bottom:0%;
	font-style: italic;
}

.rightpoints{
	margin-left: 45% ;
	margin-right: 8%;
	margin-bottom:2%;
}

@media screen and (max-width: 751px) {
	.rightpoints{
		margin-left: 3%;
	margin-right: 3%;
		width:100%;
	}
}

ul {
list-style-type: circle;
margin-left:7%;
}

.reviews{
visibility:hidden;
}

h1 {
	display: block;
	-webkit-margin-before: 0.83em;
	-webkit-margin-after: 0.83em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	font-weight: bold;
	font-size: 3em;
	color: #FF9100;
	text-align:center;
}

h2 {
	font-weight: bold;
	font-size: 1.2em;
	color: #FFC400;
	text-align:center;
}

h3 {
display: block;
-webkit-margin-before: 0.83em;
-webkit-margin-after: 0.83em;
-webkit-margin-start: 0px;
-webkit-margin-end: 0px;
font-size: 1em;
font-weight: normal;
color: white;
}

.myButton {
	-moz-box-shadow: 0px 1px 0px 0px #f0f7fa;
	-webkit-box-shadow: 0px 1px 0px 0px #f0f7fa;
	box-shadow: 0px 1px 0px 0px #f0f7fa;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #33bdef), color-stop(1, #019ad2));
	background:-moz-linear-gradient(top, #33bdef 5%, #019ad2 100%);
	background:-webkit-linear-gradient(top, #33bdef 5%, #019ad2 100%);
	background:-o-linear-gradient(top, #33bdef 5%, #019ad2 100%);
	background:-ms-linear-gradient(top, #33bdef 5%, #019ad2 100%);
	background:linear-gradient(to bottom, #33bdef 5%, #019ad2 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#33bdef', endColorstr='#019ad2',GradientType=0);
	background-color:#33bdef;
	-moz-border-radius:9px;
	-webkit-border-radius:9px;
	border-radius:9px;
	border:1px solid #057fd0;

display:inline-block;
height: 25px;
margin-top:20px;
margin-left:10px;
margin-right:10px;
width:250px;
text-align: center;
	
	cursor:pointer;
	color:#ffffff;
	font-family:Verdana;
	font-size:1.2em;
	font-weight:bold;
	padding:7px 24px;
	text-decoration:none;
	text-shadow:0px -1px 0px #5b6178;
}

@media screen and (max-width: 751px) {
	.myButton{
		width: 80%;
		font-size:1em;
			margin-left: auto ;
	margin-right: auto;
	}
}

@media screen and (min-width: 750px) and (max-width: 1100px) {
	.myButton{
		width: 300px;

	}
}

.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #019ad2), color-stop(1, #33bdef));
	background:-moz-linear-gradient(top, #019ad2 5%, #33bdef 100%);
	background:-webkit-linear-gradient(top, #019ad2 5%, #33bdef 100%);
	background:-o-linear-gradient(top, #019ad2 5%, #33bdef 100%);
	background:-ms-linear-gradient(top, #019ad2 5%, #33bdef 100%);
	background:linear-gradient(to bottom, #019ad2 5%, #33bdef 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#019ad2', endColorstr='#33bdef',GradientType=0);
	background-color:#019ad2;
}
.myButton:active {
	
	top:1px;
}

.positionreviews {
height:30px;
margin-left:15%;
margin-top:-2%;
}

@media screen and (max-width: 751px) {
	.positionreviews{
		height:120px;
		margin-left:auto;
	}
}

@media screen and (min-width: 750px) and (max-width: 810px) {
	.positionreviews{
		height:100px;

	}
}

@media screen and (min-width: 750px) and (max-width: 1100px) {
	.positionreviews{
		height:70px;

	}
}

.rw-words{
	display: block;
	-webkit-margin-before: 0.83em;
	-webkit-margin-after: 0.83em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	font-weight: bold;
	font-size: 1.2em;
	color: #FFC400;
}



.rw-words-1 span{
	position: absolute;
	opacity: 0;
	overflow: hidden;
	width:60%;
	text-align:center;
	-webkit-animation: rotateWord 36s linear infinite 0s;
	-ms-animation: rotateWord 36s linear infinite 0s;
	animation: rotateWord 36s linear infinite 0s;
}
.rw-words-1 span:nth-child(2) { 
    -webkit-animation-delay: 6s; 
	-ms-animation-delay: 6s; 
	animation-delay: 6s; 
	
}
.rw-words-1 span:nth-child(3) { 
    -webkit-animation-delay: 12s; 
	-ms-animation-delay: 12s; 
	animation-delay: 12s; 
	
}
.rw-words-1 span:nth-child(4) { 
    -webkit-animation-delay: 18s; 
	-ms-animation-delay: 18s; 
	animation-delay: 18s; 
	
}
.rw-words-1 span:nth-child(5) { 
    -webkit-animation-delay: 24s; 
	-ms-animation-delay: 24s; 
	animation-delay: 24s; 
	
}
.rw-words-1 span:nth-child(6) { 
    -webkit-animation-delay: 30s; 
	-ms-animation-delay: 30s; 
	animation-delay: 30s; 
}

@media screen and (max-width: 751px){
	.rw-words{
		font-size: 1em;
	}
	.rw-words-1 span{
		width:80%;
	}
}

@-webkit-keyframes rotateWord {
    0% { opacity: 0; }
    2% { opacity: 0; -webkit-transform: translateY(-30px); }
	5% { opacity: 1; -webkit-transform: translateY(0px);}
    17% { opacity: 1; -webkit-transform: translateY(0px); }
	20% { opacity: 0; -webkit-transform: translateY(30px); }
	80% { opacity: 0; }
    100% { opacity: 0; }
}
@-ms-keyframes rotateWord {
    0% { opacity: 0; }
    2% { opacity: 0; -ms-transform: translateY(-30px); }
	5% { opacity: 1; -ms-transform: translateY(0px);}
    17% { opacity: 1; -ms-transform: translateY(0px); }
	20% { opacity: 0; -ms-transform: translateY(30px); }
	80% { opacity: 0; }
    100% { opacity: 0; }
}
@keyframes rotateWord {
    0% { opacity: 0; }
    2% { opacity: 0; -webkit-transform: translateY(-30px); transform: translateY(-30px); }
	5% { opacity: 1; -webkit-transform: translateY(0px); transform: translateY(0px);}
    17% { opacity: 1; -webkit-transform: translateY(0px); transform: translateY(0px); }
	20% { opacity: 0; -webkit-transform: translateY(30px); transform: translateY(30px); }
	80% { opacity: 0; }
    100% { opacity: 0; }
}